target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/src/main/resources/VAADIN/themes/iris/styles.css
/files/Pflichtenheft/*.lof
/files/Pflichtenheft/*.log
/files/Pflichtenheft/*.out
/files/Pflichtenheft/*.gz
/files/Pflichtenheft/*.toc
/files/Pflichtenheft/*.aux
/files/Pflichtenheft/pflichtenheft.pdf
