@import "../valo/valo.scss";
@import "addons.scss";



.iris {
  @include valo;
  @include addons;

  .test {
    background-color: black;
  }

  .iris-canvas {
    border: solid black 2px;
  }

  $iris-margin: 12px;

  .v-margin-left {
    padding-left: $iris-margin;
  }
  .v-margin-right {
    padding-right: $iris-margin;
  }
  .v-margin-top {
    padding-top: $iris-margin;
  }
  .v-margin-bottom {
    padding-bottom: $iris-margin;
  }

  .iris-main-panel {
    padding: $iris-margin;
  }

  .application-logo {
    height: 80px;
    margin-right: 36px;
  }

  .application-label {
    font-size: 70px;
    font-weight: 900;
    line-height: 80px;
  }

}





