@import "../valo/valo.scss";
@import "addons.scss";

.iris {
  @include valo;
  @include addons;

  $iris-margin: 12px;
  $iris-spacing: 6px;

  .v-margin-left {
    padding-left: $iris-margin;
  }
  .v-margin-right {
    padding-right: $iris-margin;
  }
  .v-margin-top {
    padding-top: $iris-margin;
  }
  .v-margin-bottom {
    padding-bottom: $iris-margin;
  }

  .iris-header-layout {
    /*border-bottom: 1px solid #d5d5d5;*/
  }

  .iris-logo-image {
    height: 80px;
    margin-right: 60px;
  }

  .iris-name-label {
    font-size: 70px;
    font-weight: 900;
    line-height: 80px;
  }

  .iris-search-result-layout {
    .v-spacing {
      width: $iris-spacing;
      height: $iris-spacing;
    }
  }

  .v-textarea.iris-info-textarea {
    width: 100%;
  }

  .v-textarea-readonly.iris-info-textarea {
    background: #FFF
  }

  .v-progressbar.iris-progressbar-onetrainingcycle {
    width: 100%;
  }

  .v-textarea.iris-json-editor {
    width: 100%;
  }

  .test {
    background-color: black;
  }

  .iris-canvas {
    border: solid black 2px;
  }

}





